.profilPicStyle {
  border-radius: 50%;
}

body {
  background: #3c3c3c;
}

* {
  font-size: 1vw !important;
}

@media screen and (max-width: 1000px) {
  * {
    font-size: 1.5vw !important;
  }
}

@media screen and (max-width: 767px) {
  * {
    font-size: 2vw !important;
  }
}
